
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.commonText{
    font-family: 'Poppins';
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commonBorder{
    border: 6px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
}

.color1{
    background-color: hsl(252, 64%, 59%);
    background: linear-gradient(to bottom right, hsl(252, 64%, 59%), hsl(251, 64%, 68%));
}

.color2{
    background-color: hsl(252, 64%, 59%);
    background: linear-gradient(to top left, hsl(178, 71%, 56%), hsl(217, 82%, 59%), hsl(252, 64%, 59%));
}

body{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100vh;
    background-color: hsl(224, 14%, 27%);
    gap: 15px;
}

header{
    flex: 1;
}

main{
    flex: 8;
    display: flex;
    gap: 15px;
}

aside{
    flex: 1;
    background-color: hsl(177, 60%, 40%);
    background: linear-gradient(to bottom right, hsl(177, 66%, 54%), hsl(177, 60%, 40%));
}


#mainSection{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#content1{
    flex: 1;
}

#subSection{
    flex: 1;
    display: flex;
    gap: 15px;
}

#content2{
    flex: 1;
}

#content3{
    flex: 1;
}

footer{
    flex:1;
    margin-bottom: 100px;
}